.DS_Store
*.o
models/*.h
models/*.cpp
models/*.c
models/*.pkl
models/*.onnx
models/*.bin
models/*.json
models/predict_onnx.py

build/
.cache/
release/

.venv/

*.pptx
**/__pycache__/
predict_onnx.py
file_classifier

test/

src/main_test.cpp